@import '../../scss/variable.scss';
@import '../../scss/common.scss';
.news{
    background-color: $blackColor;
    width: 100%;
    @extend .flex;
    flex-direction: column;
    .news-item{
        width: 100%;
        border-bottom: 5px solid $brownColor;
        @extend .flex;
        flex-direction: column;
        padding: 25px 50px;
    }
    .title {
        color: $brownColor;
         @extend .medium-title-bold;
    }
    .news-loadmore {
        background: $heavyBlue;
        color: $lightPink;
        outline: none;
        border: oldlace;
        @extend .text-small;
        width: 110px;
        @extend .flex;
        height: 28px;
        font-size: 16px;
        cursor: pointer;
    }
    .card-list{
        display: grid;
        row-gap: 24px;
        column-gap: 85px;
        grid-template-columns: 1fr 1fr;
    }
    .news-footer{
        border-bottom: 1px solid gray;
        width: 100%;
        @extend .flex;
        flex-direction: column;
        .footer-title{
            @extend .super-title;
            color: $brownColor;
        }
        .footer-subrice{
            padding: 50px;
            width: 100%;
            @extend .flex-start;
            gap:24px;
            .subrice-input{
                cursor: pointer;
                border: none;
                outline: none;
                width: 80%;
                height: 56px;
                padding: 0 24px;
                @extend .medium-title;
                font-family: 'Montserrat', sans-serif;
                &::placeholder{
                        @extend .medium-title;
                        color: $brownColor;
                }
            }
            .subrice-button{
                @extend .flex;
                @extend .medium-title;
                cursor: pointer;
                height: 56px;
                padding: 0 24px;
                border: none;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                color: $yellowColor;
                background: $brownColor;
            }
        }
    }
  
}