$blackColor:#47372E;
$brownColor:#B3604B;
$white:#fff;
$black:#000;
$yellowColor:#D9984E;
$lightPink:#F0D192;
$heavyBlue:#5C9AA1;
$grayColor:#5C5B5B;

$font:12px;
$fontSmall:14px;
$fontMedium:18px;
$fontBig:21px;


